@import "variables";

.frontpage-box {

  background: rgba($main-color, 0.9);
  padding: 15px 20px;
  margin-top: 20px;;
  float: left;

  width: 100%;
  box-sizing: border-box;

  @media only screen and (min-width : 381px) {
    width: 340px;
    margin: 20px;
  }

  a {
    text-decoration: none;
  }

  &__title {
    color: white;
    font-size: 1.8em;
    font-weight: $base-font-weight-bold;
  }

  &--bottom {
    padding-bottom: 60px;

    @media only screen and (min-height : 900px) {
      position: absolute;
      bottom: 0px;
    }
  }
}

.news-box {
  margin-top: 60px;

  &__date {
    display: block;
    padding-top: 10px;
    font-size: 0.75em;
    color: white;
  }

  &__link {
    font-weight: $base-font-weight-bold;
    color: white;
  }

  @media only screen and (min-width : 431px) {
    margin-top: 20px;
  }

}

.tours-box {

  &__date {
    color: white;
    font-weight: $base-font-weight-bold;
    padding-right: 5px;
  }

  &__name {
    color: black;
    font-weight: $base-font-weight-bold;
    display: block;
  }

  &__kind {
    color: white;

    &::before {
      content: "| ";
    }
  }
}
