
$season-2016-01-background: "../images/bg/bg1.jpg";
$season-2016-01-main-color: #e2000f;

$season-2016-03-background: "../images/bg/bg1.jpg";
$season-2016-03-main-color: #17543a;

$background: $season-2016-03-background;
$main-color: $season-2016-03-main-color;

$text-color: black;
$base-font-size: 18px;
$base-font-family: 'Asap', sans-serif;

// Asap font supports regular (400), medium (500) and bold (700)
$base-font-weight-regular: 400;
$base-font-weight-bold: 700;
