@import "variables";
@import "reset";
@import "typography";
@import "animicon";
@import "frontpage";
@import "content";
@import "navigation";
@import "widgets";

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight-regular  ;
  line-height: 1.5;

  background:url($background) no-repeat center center fixed;
  background-size: cover;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* FOOTER */
#footer {
  position:fixed;
  bottom:0px;
  right:0px;
  width:100%;
  height:auto;
  z-index:200;
  pointer-events: none;
}
